[submodule "lib/mysql_fdw"]
	path = lib/mysql_fdw
	url = https://github.com/zerosign/mysql_fdw
[submodule "lib/rethinkdb_fdw"]
	path = lib/rethinkdb_fdw
	url = https://github.com/zerosign/rethinkdb-multicorn-postgresql-fdw
[submodule "lib/mongo_fdw"]
	path = lib/mongo_fdw
	url = https://github.com/zerosign/mongo_fdw
[submodule "lib/rw_redis_fdw"]
	path = lib/rw_redis_fdw
	url = https://github.com/nahanni/rw_redis_fdw.git
